@import "_variables";
@import "_reset";
@import "_mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color;
    font: {
        family: $font;
        size: $font-size;
        weight:bold;
    }
    
} 

.container {
    @include important-text();
    min-width: $min-width;
    width: 80vw;
    margin: auto;
    text-align: center;
    border: {
        style:solid;
        color: black;
        width: 2px;
        radius:10px;
    }
}

nav {

    background-color: darken($color, 20%);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        color: black;
        text-decoration: none;
        &:hover {
        background-color: lighten($color, 25%);
    }
    }
    
}

.danger {
    @include bordered(red, 3px);
    @include important-text();
    background-color: darken($color, $amount: 10%);
}